{{define "createThread"}}
<!DOCTYPE html>
  <head>
    <title>Projet Forum | Créer un thread</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  </head>
  <body>
    <button class="button" onclick="location.href='/mainMenu'">Back</button>
    <h1>Create a thread</h1>
    <form action="/createThread/process" method="post">
      <label for="thread_title">Title:</label>
      <input type="text" id="title" name="thread_title" required maxlength="15">
      <br>
        <label for="thread_desc">Description:</label>
      <input type="text" id="description" name="thread_desc" required maxlength="300">
      <br>
        <label for="thread_tag">Tag:</label>
        <input type="text" id="tag" name="thread_tag" required maxlength="20">
      <br>
      <button type="submit">Create</button>
  </body>
</html>
{{end}}