{{define "mainMenu"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Projet Forum | Main Menu</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  </head>
  <body>
    <button class="button" onclick="location.href='/profile'">Profile</button>
    <button class="button" onclick="location.href='/createThread'">Create Thread</button>

    <h2>{{ len .Threads.Threads }} thread(s)</h2>
      
    {{if .Threads.Threads}}
        {{range $index, $thread := .Threads.Threads}}
        <div class="thread">
            <strong><h3 class="thread-title">{{$thread.Title}}</h3></strong>
            <div class="thread-description">{{$thread.Description}}</div>
            <div class="thread-tag">{{$thread.Tag}}</div>
                    <span>By: {{$thread.Author.Username}}</span><br>
                    <span>State: {{$thread.State}}</span>
                </div>
                <div>
                    Created: {{$thread.CreatedAt.Format "02/01/2006 à 15:04"}}
                </div>
            </div>
            <button class="button" onclick="location.href='/thread?id={{$thread.ID}}'">Open thread</button>
            <button class="button" onclick="location.href='/thread/like?id={{$thread.ID}}'">0 like(s)</button>
            <button class="button" onclick="location.href='/thread/dislike?id={{$thread.ID}}'">0 dislike(s)</button><br>
            <hr>
        </div>
        {{end}}
    {{else}}
        <div class="no-threads">
            <p>No threads.</p>
        </div>
    {{end}}
  </body>
</html>
{{end}}