{{define "mainMenu"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Projet Forum | Main Menu</title>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
  </head>
  <body>
    <div class="forum-header">
      <h1>BIENVENUE SUR FORUM YNOVSTUD</h1>
      <div class="forum-pp">PP</div>
    </div>
    <div class="forum-main">
      <div class="forum-channel">CHANNEL</div>
      <div class="forum-feed">
        FILE D'ACUALITER
        <div style="margin-top:30px;">
          <button class="button" onclick="location.href='/profile'">Profile</button>
          <button class="button" onclick="location.href='/creer'">creerThread</button>
        </div>
      </div>
      <div class="forum-thread">CREER UN THREAD</div>
    </div>
  </body>
</html>
{{end}}