{{define "loginPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Projet Forum | Login</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  </head>
  <body>
    <div class="forum-header">
      <h1>Connexion</h1>
      <div class="forum-pp">PP</div>
    </div>
    <form action="/userlogin" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" minlength="12" required>
      <button class="button" type="submit">Login</button>
      <button class="button" type="button" onclick="location.href='/mainMenu'">Back</button>
    </form>
  </body>
</html>
{{end}}