{{define "connexionPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Stud'Ynov | Connection</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>
    <div class="welcome-container">
          <h1 class="welcome-title">Stud'Ynov</h1>
          <p class="welcome-subtitle">Rejoignez notre communauté et partagez vos passions</p>
          <div class="welcome-buttons">
              <button class="btn" onclick="location.href='/loginPage'">Login</button>
              <button class="btn btn-secondary" onclick="location.href='/registerPage'">Register</button>
          </div>
    </div>
  </body>
</html>
{{end}}