{{define "connexionPage"}}
<!DOCTYPE html>
  <head>
    <title>Projet Forum | Connection</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
    <div id="welcome" class="page active">
        <h1>Welcome to PROJET Forum</h1>
        <p>Please choose an option to continue:</p>
        <div class="welcome-buttons">
            <button class="btn" onclick="location.href='/loginPage'">Login</button>
            <button class="btn btn-secondary" onclick="location.href='/registerPage'">Register</button>
        </div>
    </div>
</html>
{{end}}