{{define "profile"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Stud'Ynov | Profile</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>
    <div id="profile-page">
        <button class="btn back-btn" onclick="location.href='/mainMenu'">← Back</button>
        <div class="container">
            <div class="profile-container">
                <h1>{{.User.Username}}'s profile</h1>
                <div class="profile-info">
                    <p><strong>Username :</strong> {{.User.Username}}</p>
                    <p><strong>Email :</strong> {{.User.Email}}</p>
                    <p><strong>Member since :</strong> {{.User.CreatedAt.Format "02/01/2006 15:04"}}</p>
                    <p><strong>Last update :</strong> {{.User.UpdatedAt.Format "02/01/2006 15:04"}}</p>
                    <p><strong>User ID :</strong> {{.User.ID}}</p>
                </div>
                <div class="profile-actions">
                    {{if eq .User.ID .CurrentUser.ID}}
                      <button class="btn btn-danger" onclick="location.href='/logout'">Log out</button>
                      {{if .CurrentUser.IsAdmin}}
                        <button class="btn btn-secondary" onclick="location.href='/admin'">Admin Panel</button>
                      {{end}}
                    {{end}}
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
{{end}}