{{define "registerPage"}}
<!DOCTYPE html>
  <head>
    <title>Stud'Ynov | Register</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>
    <div id="login" class="page">
        <button class="btn back-btn" onclick="location.href='/mainMenu'">← Back</button>
        <h1>Register</h1>
        <form action="/userRegister" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" minlength="1" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" minlength="12" required>
            </div>
            <div class="form-group" style="text-align: center;">
                <button type="submit" class="btn">Register</button>
            </div>
        </form>
    </div>
  </body>
</html>
{{end}}